.wrapper {
  background-color: var(--mantine-color-body);
}

.title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background: linear-gradient(
    45deg,
    var(--mantine-color-primary-filled),
    var(--mantine-color-pink-filled)
  );
  transition: transform 0.2s;
}

.button:hover {
  transform: translateY(-2px);
} 
