.title {
  margin-bottom: var(--mantine-spacing-md);
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
}

.item {
  background-color: var(--mantine-color-body);
  border: 1px solid var(--mantine-color-gray-3);
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.item:hover {
  background-color: var(--mantine-color-gray-0);
}

.control {
  font-size: var(--mantine-font-size-md);
  padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
  color: var(--mantine-color-black);
  width: 100%;
  box-sizing: border-box;
}

.control:hover {
  background-color: transparent;
}

.panel {
  padding: 0 var(--mantine-spacing-xl) var(--mantine-spacing-xl);
  line-height: 1.6;
  color: var(--mantine-color-dimmed);
  box-sizing: border-box;
} 
