.wrapper {
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.wrapper::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -10;
	background-image: linear-gradient(var(--mantine-color-gray-1) 1px, transparent 1px),
		linear-gradient(90deg, var(--mantine-color-gray-1) 1px, transparent 1px);
	background-size: 20px 20px;
	mask-image: radial-gradient(ellipse 90% 50% at 50% 50%, black 50%, transparent 100%);
	-webkit-mask-image: radial-gradient(ellipse 90% 50% at 50% 50%, black 50%, transparent 100%);
}

.inner {
	padding-top: calc(var(--mantine-spacing-lg) * 4);
	padding-bottom: calc(var(--mantine-spacing-lg) * 4);
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@media (max-width: $mantine-breakpoint-md) {
		margin-right: 0;
	}
}

.title {
	font-weight: 900;
	line-height: 1.1;
	font-size: rem(72px);
	max-width: 100%;
	letter-spacing: -1px;
	background: linear-gradient(45deg, var(--mantine-color-primary-filled), var(--mantine-color-pink-filled));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

	@media (max-width: $mantine-breakpoint-md) {
		max-width: 100%;
		font-size: rem(40px);
		line-height: 1.2;
		letter-spacing: -0.5px;
	}
}

.subtitle {
	padding-top: var(--mantine-spacing-xl);
	font-weight: 500;
	line-height: 1.4;
	font-size: var(--mantine-font-size-xl);
	max-width: rem(800px);
	color: var(--mantine-color-dimmed);
	margin: 0 auto;

	@media (max-width: $mantine-breakpoint-md) {
		max-width: 100%;
		font-size: rem(24px);
		line-height: 1.5;
		padding-inline: var(--mantine-spacing-md);
	}
}

.control {
	padding-left: rem(40px);
	padding-right: rem(40px);
	font-size: rem(18px);

	@media (max-width: $mantine-breakpoint-md) {
		width: 100%;
	}
}
