.cardHoverWrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.hoverShape {
  position: absolute;
  transition: all 0.4s;
}

.hoverShape1 {
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    #f82552 -100%,
    rgba(21, 22, 37, 0) 64%
  );
  width: 5px;
  height: 200px;
}

.hoverShape2 {
  top: 0;
  left: 5px;
  background: linear-gradient(
    to right,
    #f82552 -100%,
    rgba(21, 22, 37, 0) 64%
  );
  width: 200px;
  height: 5px;
}

.hoverShape3 {
  bottom: 0;
  right: 0;
  width: 5px;
  height: 200px;
  background: linear-gradient(
    to top,
    var(--green-color) -100%,
    rgba(21, 22, 37, 0) 64%
  );
}

.hoverShape4 {
  bottom: 0;
  right: 5px;
  width: 200px;
  height: 5px;
  background: linear-gradient(
    to left,
    var(--green-color) -100%,
    rgba(21, 22, 37, 0) 64%
  );
}

.cardHoverWrapperHovered {
  opacity: 1;
  visibility: visible;
}
