.EditProfileDetailsStyleWrapper {
  background: var(--primary-background-color);
  padding-top: 70px;
  padding-bottom: 140px;
}

.p {
  margin-bottom: 26px;
}

.leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.leftContentButt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selector *:not(.css-1u9des2-indicatorSeparator) {
  margin-top: 0px !important;
}

.btnCrop {
  position: absolute;
  z-index: 555;
}

.leftContentThumb {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(30, 31, 53, 0.7);
  margin-bottom: 30px;
}

.editProfileContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightContent {
  flex: 3;
  display: flex;
}

.rightContentSection1 {
  flex: 1;
}

.rightContentSection2 {
  flex: 1;
}

.input {
  width: 90%;
  margin-bottom: 15px;
  background: transparent;
  outline: none;
  height: 60px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0px 21px;
  height: 50px;
  border-radius: 10px;
}

.formControl {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selector {
  margin-top: 5px;
  margin-bottom: 15px !important;
}

.rightContentSection2 img {
  margin-inline-end: 3px;
  position: relative;
  top: -5px;
}

.h6 {
  margin-inline-start: 10px;
}

.btu {
  margin-inline-start: 330px;
  margin-top: 25px;
}

.EditProfileDetailsStyleWrapper :global(.css-1iinogm-singleValue) {
  margin-left: 10px;
}

.EditProfileDetailsStyleWrapper :global(.css-hlgwow input[type="text"]) {
  height: 34px;
}

.EditProfileDetailsStyleWrapper :global(.css-5736gi-menu) {
  width: 90%;
}

.EditProfileDetailsStyleWrapper :global(.css-qdv3v5-placeholder) {
  margin-left: 10px;
}

.EditProfileDetailsStyleWrapper :global(.css-1u9des2-indicatorSeparator) {
  height: 30px;
  margin-top: 7px !important;
}

.separator {
  width: 80%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 25px auto;
}

.webSiteLanguage {
  width: inherit;
  margin-inline-start: 330px;
  padding: 12px;
}

@media only screen and (max-width: 999px) {
  .editProfileContent {
    flex-direction: column;
  }

  .rightContent {
    width: 100%;
  }

  .btu {
    margin-inline-start: 0;
  }

  .webSiteLanguage {
    margin-inline-start: 0px;
  }

  .leftContent {
    flex-direction: row;
    width: 500px;
  }

  .leftContentThumb {
    max-width: 200px !important;
    width: 100%;
    margin-bottom: 40px;
    margin-right: 50px;
  }

  .h4 {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 820px) {
  .rightContent {
    flex-direction: column;
  }

  .rightContentSection2 {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .input {
    width: 100%;
  }

  .leftContent {
    flex-direction: column;
    width: 100vw;
  }

  .leftContentThumb {
    margin-right: 0px;
  }

  .EditProfileDetailsStyleWrapper :global(.css-5736gi-menu) {
    width: 100%;
  }

  .EditProfileDetailsStyleWrapper :global(.css-rrhtqz-control) {
    width: 100%;
  }

  .EditProfileDetailsStyleWrapper :global(.css-19nvztv-control) {
    width: 100%;
  }

  .rightContent {
    margin-top: 25px;
  }

  .rightContentSection2 {
    margin-top: 15px;
  }
}
