.gamfiMenuBtns {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 284px;
  column-gap: 24px;
  z-index: 13;
}

.gamfiMenuBtns button {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.walletBtn {
  color: var(--green-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-family: "Russo One", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  box-sizing: border-box;
  height: 50px;
  border: 2px solid var(--secondary-color);
  background: transparent;
  z-index: 1;
  width: 140px;
  cursor: pointer;
}

.walletBtn svg {
  font-size: 20px !important;
}

.walletBtn:hover {
  color: var(--green-color);
}

.menuBtn {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 5;
}

.menuBtn svg {
  font-size: 40px;
}

.profileBtn {
  z-index: 2;
}

@media (max-width: 991px) {
  .gamfiMenuBtns {
    justify-content: end;
  }

  .menuBtn {
    display: block;
  }

  .profileBtn {
    display: none;
  }
}

@media (max-width: 480px) {
  .gamfiMenuBtns {
    column-gap: 13px;
  }
}
