.checkUsernameWrapper {
  position: relative;
  top: 3px;
  left: 10px;
  font-size: 12px;
  display: flex;
  margin-top: 0px !important;
}

.checkUsername {
  margin-top: 10px !important;
}

.checkUsernameWrapper div {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.spinner {
  position: relative;
  top: 2px;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--secondary-green-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.available {
  color: var(--secondary-green-color);
}

.notAvailable {
  color: red;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
