.contentLeft {
  height: calc(100vh - 90px);
  padding: 50px;
  overflow-y: auto; /* Enable vertical scrolling */
}

.warningMessage {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.534);
  margin-top: 50px;
  padding: 10px;
  cursor: default;
}
