.ProfileDetailsStyleWrapper {
  background: var(--primary-background-color);
  padding-top: 70px;
  padding-bottom: 140px;
}

.p {
  margin-bottom: 26px;
}

.leftContentThumb {
  width: 200px;
  height: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(30, 31, 53, 0.7);
  margin-bottom: 30px;
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightContentTitle {
  color: var(--green-color) !important;
  font-weight: 400;
  margin: 0;
}

.explain {
  font-size: 14px;
  margin-bottom: 10px;
}

.memberTitle {
  font-size: 30px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.memberTitle span {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 7px;
}

.memberDetails {
  list-style: none;
  padding: 0;
}

.memberDetails li {
  display: flex;
  font-size: 16px;
  align-items: center;
  margin-top: -10px;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.memberDetails li strong {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.memberDetails li span {
  font-family: "Inter";
  line-height: 40px;
  color: #ffffff;
  margin-inline-start: 10px;
}

.memberDetails .socialItems a img {
  height: 18px;
  width: 18px;
  margin-inline-start: 15px;
}

.memberDetails .socialItems a:hover {
  opacity: 0.6;
}

.imgNearLand {
  width: 100%;
  max-width: 960px;
  overflow: hidden;
}

.unityLoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.unityLoadingOverlay .loadingText {
  margin-top: 20px;
  font-size: 1.5em;
}

.unityLoadingOverlay .loadingLogo img {
  width: 100px;
  height: 100px;
}

.reactTooltip {
  opacity: 1;
}

.infoIcon {
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.sectionCourses {
  text-align: center;
  background: #00ec97;
  padding: 20px;
  font-size: 18px;
  margin-top: 20px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .leftContentThumb {
    max-width: 200px !important;
    width: 100%;
    margin-bottom: 40px;
  }

  .rightContent {
    padding: 0 15px 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .memberTitle {
    font-size: 24px;
  }

  .memberTitle span {
    font-size: 17px;
  }

  .memberDetails li {
    font-size: 14px;
  }

  .leftContentThumb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}
